body{
    background-color: #D3C9F5;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color: #5D637A;
}
.about{
    color: #5701F0;
}
.skills{
    color: #5701F0;
}
.projects{
    color: #5701F0;
}
.contact{
    color: #5701F0;
}